*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: white;
    --secondary-color: #212121;
}
.bg-primary{
    background-color: white !important;
}
.bg-secondary{
    background-color: var(--secondary-colors);
}
.doctor_login{
    width: 100%;
    height: 100vh;
}
.hellodoc{
    width: 40%;
    height: auto;
}
.heading{
    font-size: 4.2vh;
    text-align: center;
}
.inputfield{
    width: 20vw;
    /* border: none !important; */
    /* position: relative; */
}
/* .btn-sub{
    width: 22vw;
} */
.position-absolute{
    position: absolute;
    right: 0;
}
.button-primary{
    background-color: #01bce9;
    border: none;
    border-radius: 5px;
    color: rgb(230, 230, 212);
    padding: 0.7rem;
    font-size: 16px;
}
.button-secondary{
    background-color: #211f79;
    border: none;
    border-radius: 5px;
    color: rgb(230, 230, 212);
    padding: 0.7rem;
    font-size: 16px;
}
.input-container{
    border: 1px solid rgb(196, 195, 195) !important;
    border-radius: 5px;
}
.form-control:focus{
    box-shadow: none !important;
}
.form-control:focus-within{
    border-color: #01bce9 !important;
}
.form-control:focus + .form-label{
    color: #01bce9 !important;
}
.forgot-pass{
    color: #01bce9;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.text-footer{
    color: #8e8c8d;
    text-align: center;
}
.bottom-fixed{
    position: absolute;
    bottom: 0px;
    margin-left: auto;
}
.login-container{
    width: 45%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.login-container::before{
    content: '';
    background-image: url('../images/login_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: blur(3px);
    opacity: 0.2;
}
.blue-text{
    color: #01bce9;
    font-size: 20px;
}
.moon-icon{
    position: absolute;
    right: 0;
}

.hellodoc-patient{
    width: 40%;
    position: absolute;
    top: 0;
}
.submitreq-container{
    width: 45%;
    margin: auto;
    min-height: 100vh;
}
/* patient request */
.logo{
    width: 145px;
    height: auto;
    margin: 0 !important; 
}
.nav-moon{
    position: absolute;
    width: 40px;
    right: 4px;
    top: 22px;
    /* margin-top: 0.5rem; */
    height: 40px;
}
.navbar{
    box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.15);
}
.introtext{
    border-radius: 5px;
    margin-top: 1rem;
    width: 300px;
}
.bg-blue{
    background-color: #e9eaef;
    border: 1px solid #9ca5c7;
    height: 5vh;
}
.bg-skyblue{
    background-color: #e5f1f9;
    border: 1px solid #66afc7;
    height: 5vh;
}
.bg-green{
    background-color: #e7f7ed;
    border: 1px solid #aebe9c;
    height: 5vh;
}
.bg-magenta{
    background-color: #f0e6eb;
    border: 1px solid #dd9cc5;
    height: 5vh;
}
.text-blue{
    color: #667ccf;
}
.text-skyblue{
    color: #0cc3e1;
}
.text-green{
    color: #24a54f;
}
.text-magenta{
    color: rgb(202, 16, 171);;
}
.fw-400{
    font-weight: 500;
    font-size: 23px;
}
.back{
    font-size: 20px;
    color: #0cc3e1;
}
.back-btn{
    border: 1px solid #4793da;
    box-shadow: -1px -1px 1px 1px rgba(71, 147, 218, 0.2);
    border-radius: 6px;
}
.footer-fixed{
    position: absolute;
    /* right: 0; */
    bottom: 0;
}
.patient-req-div{
    width: 50vw;
}
@media screen and (max-width: 650px){
    .disp-none{
        display: none;
    }
    .login-container{
        width: 100%;
    }
    .heading{
        font-size: 25px;
    }
    .inputfield{
        width: 33vw;
    }
    .patient-req-div{
        width: 75vw;
    }
    
}

.btn-primary{
    background-color: white;
    border: 1px solid #01bce9;
    border-radius: 5px;
    color: #01bce9;
    padding: 0.3rem;
    font-size: 16px;
}

.btn-primary:hover{
    background-color: #01bce9;
    border: 1px solid #01bce9;
    border-radius: 5px;
    color: white;
    padding: 0.3rem;
    font-size: 16px;
}
@media screen and (max-width: 820px){
    .inputfield{
        width: 50vw;
    }
}
@media screen and (max-width: 568px){
    .inputfield{
        width: 70vw;
    }
    .fw-400{
        font-weight: 500;
        font-size: 18px;
    }
    .submitreq-container::before{
        content: '';
        background-image: url('../images/login_bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        filter: blur(3px);
        opacity: 0.2;
    }
    #phone {
        width: 89vw !important;
    }
    .patient-req-div{
        width: 95vw !important;
    }
    .w-back-btn{
        width: 98vw !important;
    }
}
@media screen and (max-width: 1250px){
    .heading{
        font-size: 25px;
    }
    .patient-req-div{
        width: 70vw;
    }
    .w-back-btn{
        width: 85vw !important; 
    }
}
.w-back-btn{
    width: 75vw;
}

.border{
    box-shadow: 0 0 15px #cacaca !important;
    border: none !important;
    border-radius: 5px;
}
#yourBtn {
    position: relative;
    
    font-family: calibri;
    width: 150px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px dashed #BBB;
    text-align: center;
    background-color: #01bce9;
    color: white;
    cursor: pointer;
  }
  .iti{
    width: 100%;
  }
  #phone {
    
    height: calc(3.2rem + calc(var(--bs-border-width) * 2)) !important;
    border-radius: 6px;
    border:1px solid #dbe5e7;
}
.z-index{
    z-index: 1000 !important;
}
.z-0{
    z-index: 1;
}
